Django==5.0.2
django-compat==1.0.15
django-cors-headers==4.3.1
djangorestframework==3.14.0
django-filter==23.5
mysqlclient==2.2.4
pymysql
django-rest-auth
djangorestframework-simplejwt==5.3.1
cryptography
python-dateutil
google-cloud-storage
dj-database-url
gunicorn
psycopg2-binary
# Para cargar variables de entorno
python-dotenv 
# Para configurar la DB de Render (PostgreSQL)
dj-database-url
psycopg2-binary 
# Para correr el servidor en producción
gunicorn